<alert type="success">hello</alert>

<h1>
  {{title}}
</h1>

<button class="btn btn-primary" [class.active]="isActive">Submit</button>

<button class="btn btn-primary" 
    [style.backgroundColor]="isActive ? 'blue' : 'gray'">Cancel</button>

<div (click)="onDivClick()">
  <button (click)="onClick($event)">Start Click Event</button>
</div>

<!--<input type="text" [value]="title" (input)="title = $event.target.value"/>
Preview: {{title}}
<input type="button" (click)="title = ''" value="Clear" />-->

<input type="text" [(ngModel)]="title" />
<input type="text" bindon-ngModel="title" />

<favorite [is-favorite]="true" (change)="onFavoriteChange($event)"></favorite>

<like [totalLikes]="tweet.totalLikes" [iLike]="tweet.iLike"></like>

<vote [initialVotes]="tweet.initialVotes"></vote>

<div class="well">
  <ul class="media-list">
    <div *ngFor="let tweet of tweets">
      <tweet [imageURL]="tweet.imageURL" 
             [header]="tweet.header" 
             [handle]="tweet.handle"
             [message]="tweet.message"
             [likes]="tweet.likes">
      </tweet>
    </div>
  </ul>
</div>


<courses></courses>
<authors></authors>


<div class="well">
  <zippy [isExpanded]="true" title="This is the first header...">
    Body 1...
  </zippy>
  <zippy [isExpanded]="true" title="This is the second header...">
    Body 2....
  </zippy>


  <!--<subscription-form></subscription-form>-->

  <div class="well">
    <signup-form></signup-form>
  </div>
</div>